<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile Page</title>
        <link rel="stylesheet" href="css/Main.css" />
    </head>
    <body>
        <div class="top">
            <div class="nav-bar">
                <div
                    class="start nav-child"
                    onclick="window.location.assign('http://localhost:3000/')"
                >
                    <div class="nav-text">Start</div>
                </div>
                <div class="authors nav-child mobileNope">
                    <div class="nav-text">Authors</div>
                </div>
                <div class="random nav-child mobileNope">
                    <div class="nav-text">Random</div>
                </div>
                <div
                    class="profile nav-child"
                    onclick="window.location.assign('http://localhost:3000/profile')"
                >
                    <div class="nav-text">Profile</div>
                </div>
            </div>
        </div>

        <div class="real-body">
            <div class="Mango-Grid" id="gridMaster"></div>
        </div>
        <div class="bottom-bar"></div>
        <script>
            const gridDiv = document.getElementById("gridMaster");

            const loadIn = async () => {
                try {
                    const response = await fetch(
                        "http://localhost:3000/loadIn"
                    );
                    const data = await response.json();
                    const Mangas = data.Mangas;
                    console.log(Mangas);
                    const responseFav = await fetch(
                        "http://localhost:3000/favorites"
                    );
                    const dataFav = await responseFav.json();
                    const MangasFav = dataFav;
                    console.log(MangasFav);
                    gridDiv.innerHTML = "";

                    MangasFav.forEach(mango => {
                        console.log(mango);
                        Mangas.forEach(element => {
                            console.log(element);
                            if (element.id == mango) {
                                gridDiv.innerHTML += `<div class="Mango" style="background-image: url(${element.Thumbnail});"><div class="Favorite" onclick="removeFromFav(${element.id})">Remove</div><div/>`;
                            }
                            // <div></div>;
                        });
                    });
                } catch (error) {
                    // handle the error
                    console.error(error);
                }
            };

            const removeFromFav = async id => {
                console.log(id);

                const response = await fetch(
                    `http://localhost:3000/removeFav/${id}`,
                    {
                        method: "DELETE",
                    }
                );
                loadIn();
            };

            loadIn();
        </script>
    </body>
</html>
